<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Description</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <script src="/static/js/signature.js"></script>
    <script src="/static/js/location.js"></script>

    <style>
        body{
            line-height: 1.5em;
            width: 96%;
            margin: 0 auto;
        }
        .signature_area table{
            height:120px;
        }
        p{
            text-align:justify;
        }
        .footer_button{
            margin: 20px;
            padding: 10px;
            border-top: 1px solid;
        }
    </style>


    <style>


        body{
            line-height: 1.5em;
            width: 96%;
            margin: 0 auto;
        }
        .signature_area table{
            height:120px;
        }
        p{
            text-align:justify;
        }



		.main-wrap{
			width: 1000px;
			margin: 0 auto;
			background-color: #f7fafc;
			padding: 10px;
			border: solid 1px #dbeaf2;
		}
		h1{

			font-size: 25px;
			color: #0d374c;
			text-align: center;
			background-color: #dbeaf2;
			border-radius:4px;
			padding:10px 7px;
			margin: 0px;
			;
		}

		h2{

			font-size: 20px;
			color: #0e5478;
			background: #EAF0F3;
			border: solid 1px #D7E4EC;
			padding:10px 7px;
			margin: 0px;
			text-align: left;
		}

		p{
			  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		   font-size: 13px;
			line-height: 22px;

		}
		li{
			  font-family:"Georgia",  Arial, "sans-serif"
			line-height: 22px;
			color: #0e5478;
		}

		input[type='text']
			{
			border: solid 1px #aed3e6;
				padding: 4px;
		}


		.signature_area{

			padding: 10px;
			border-radius:6px;

		}

		.box-bg{
				background-color: #dbeaf2;
			padding: 10px;
			border-radius:6px;
			width: 100%;

		}

		.button {
		background-color: #08a6f8;
		border-radius:6px;
		border: none;
		color: white;
		padding: 5px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;

		cursor: pointer;
		float: right;
}


	  table{

		  border-collapse: collapse;

	  }

	  tr th{

		  background: #F3F3F3;
		  border: solid 1px #B3B0B0;
		 color: #4E4D4D;
		  width: 100%;
		  border-collapse: collapse;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		   font-size: 13px;
		   line-height: 1.4;
		   font: normal;
		  text-align: left;

	  }

	  tr th small{

		  font-size: 12px;
		  text-align: left;
	  }

	  td{

		   border: solid 1px #E5E8E9;
		    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		   font-size: 14px;
		   line-height: 1.4;
		  text-align: left;


	  }

	  .footer_buttom{

		  background: #EAF0F3;

		  padding: 10px;
	  }


		input[type=text] {
    width: 100px;

    margin: 8px 0;
    box-sizing: border-box;
}

    </style>

</head>
<body onload="getLocation()">
<div class="main-wrap" >
<form method="post" action="/manager" id="frm">
    <input type="hidden" id="location" name="location">
    <h2>Employee Information</h2>

    <div class="employee">
    <table width="100%" cellspacing="3" cellpadding="3">
        <thead>
        </thead>
        <tbody>
        <tr>
         <td>Employee Name :</td>
            <td>
                {{the_document.emp_name}}
            </td>
             <td>Outstanding</td>
            <td>91-100</td>
            <td>S</td>

        </tr>

        <tr>
         <td>Employee Email :</td>
            <td>
                {{the_document.emp_email}}
            </td>

            <td>Exceeds Expectations</td>
            <td>81-90</td>
            <td>M</td>
        </tr>

        <tr>
         <td> Enter Employee Code :</td>
            <td>
                <input style="width: 200px;" type="text" name="emp_code1" id="emp_code1">
            </td>

            <td>Meets Expectations</td>
            <td>71-80</td>
            <td>A</td>
        </tr>

        <tr>
         <td>Job Function :</td>
            <td>
                {{the_document.job_function}}
            </td>

            <td> Improvement Needed</td>
            <td>51-70</td>
            <td>R</td>
        </tr>

         <tr>
         <td> Date of Review :</td>
            <td>
                {{the_document.date}}
            </td>
        </tr>

         <tr>
         <td> Reviewed By :</td>
            <td>
                <input style="width: 200px;" name="reviewer_name1" id="reviewer_name1">
            </td>

             <td> Unacceptable</td>
            <td>Below 50</td>
            <td>T</td>
        </tr>

        <tr>
         <td> Reviewer's Employee Code :</td>
            <td>
                <input style="width: 200px;" name="reviewer_code1" id="reviewer_code1">
            </td>
        </tr>




        </tbody>

    </table>
    </div>

   <!-- <div class="standards">
    <table cellspacing="3" cellpadding="3">
        <thead>
        </thead>
        <tbody>
        <tr>
         <td>Outstanding</td>
            <td>91-100</td>
        </tr>

        <tr>
         <td>Exceeds Expectations</td>
            <td>81-90</td>
        </tr>

        <tr>
         <td>Meets Expectations</td>
            <td>71-80</td>
        </tr>

         <tr>
         <td> Improvement Needed</td>
            <td>51-70</td>
        </tr>

         <tr>
         <td> Unacceptable</td>
            <td>Below 50</td>
        </tr>

        </tbody>

    </table>
    </div>-->

    <h2>Quality of Work (Effective)</h2>
    <div class="work_quality">
    <table cellspacing="3" cellpadding="3">
        <thead>

        <tr >
            <th style="width: 320px;"><small>Work is performed accurately & neatly. Work is consistent, thorough and complete.</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment1_comment1}}</td>
            <td>{{the_document.self_assessment1}}</td>
            <td><input type="text" name="manager_assessment1" id="manager_assessment1"></td>
            <td><textarea rows="2" cols="60" name="manager_assessment1_comment1" id="manager_assessment1_comment1"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score1" id="total_score1"></td>
            <td><input type="text" name="achieved_score1" id="achieved_score1"></td>


        </tr>

        </tbody>

    </table>
    </div>

    <h2>Quantity of Work (Productivity)</h2>
    <div class="work_quantity">
    <table cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;"><small>Amount of work performed on daily basis is appropriate for job function.</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment2_comment2}}</td>
            <td>{{the_document.self_assessment2}}</td>
            <td><input type="text" name="manager_assessment2" id="manager_assessment2"></td>
            <td><textarea rows="2" cols="60" name="manager_assessment2_comment2" id="manager_assessment2_comment2"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score2" id="total_score2"></td>
            <td><input type="text" name="achieved_score2" id="achieved_score2"></td>


        </tr>

        </tbody>

    </table>
    </div>

    <h2>Job Function (Efficiency/Timeliness)</h2>
    <div class="job_function1">
    <table cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;"><small>Understands the job requirement and has specific content knowledge
                where appropriate, completes work within timelines & is efficient for the work</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment3_comment3}}</td>
            <td>{{the_document.self_assessment3}}</td>
            <td><input type="text" name="manager_assessment3" id="manager_assessment3"></td>
            <td><textarea rows="2" cols="60" name="manager_assessment3_comment3" id="manager_assessment3_comment3"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score3" id="total_score3"></td>
            <td><input type="text" name="achieved_score3" id="achieved_score3"></td>


        </tr>

        </tbody>

    </table>
    </div>


    <h2>Attendance & Punctuality</h2>
    <div class="attendance">
    <table width="100%" cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;"><small>Is punctual and do not take uninformed leaves</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment4_comment4}}</td>
            <td>{{the_document.self_assessment4}}</td>
            <td><input type="text" name="manager_assessment4" id="manager_assessment4"></td>
            <td><textarea rows="2" cols="60" name="manager_assessment4_comment4" id="manager_assessment4_comment4"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score4" id="total_score4"></td>
            <td><input type="text" name="achieved_score4" id="achieved_score4"></td>


        </tr>

        </tbody>

    </table>
    </div>

    <h2>Behaviour</h2>
    <div class="behaviour">
    <table width="100%" cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;"><small>Behaviour with colleagues, Subordinates, Supervisor</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment5_comment5}}</td>
            <td>{{the_document.self_assessment5}}</td>
            <td><input type="text" name="manager_assessment5" id="manager_assessment5"></td>
            <td><textarea rows="2" cols="60" name="manager_assessment5_comment5" id="manager_assessment5_comment5"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score5" id="total_score5"></td>
            <td><input type="text" name="achieved_score5" id="achieved_score5"></td>


        </tr>

        </tbody>

    </table>
    </div>

    <h2>Initiatives</h2>
    <div class="initiatives">
    <table cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;"><small>Is employee always keen on taking intitiatives  to follow
                the mission and values of the company.</small></th>
            <th>Self Assessment</th>
            <th>Manager Assessment</th>
            <th>Comments</th>
            <th>Total Score</th>
            <th>Achieved Score</th>
        </tr>

        </thead>
        <tbody>
        <tr>

            <td>{{the_document.self_assessment6_comment6}}</td>
            <td>{{the_document.self_assessment6}}</td>
            <td><input type="text" name="manager_assessment6" id="manager_assessment6"></td>
           <td><textarea rows="2" cols="60" name="manager_assessment6_comment6" id="manager_assessment6_comment6"
                       placeholder="write comments"></textarea></td>
            <td><input type="text" name="total_score6" id="total_score6"></td>
            <td><input type="text" name="achieved_score6" id="achieved_score6"></td>


        </tr>

        </tbody>

    </table>
    </div>

    <h2>Manager's Final Comment</h2>
    <div class="manager_final_comment">
    <table cellspacing="3" cellpadding="3">
        <thead>

        <tr>
            <th style="width: 320px;">Final Comments</th>
            <th>Final Rating</th>

        </tr>

        </thead>
        <tbody>
        <tr>


            <td><input type="text" name="manager_final_comment" id="manager_final_comment"></td>

            <td><input type="text" name="manager_final_rating" id="manager_final_rating"></td>


        </tr>

        </tbody>

    </table>
    </div>


    <input type="hidden" id="signature" name="signature">
    <div class="signature_area">
    <table cellspacing="3" cellpadding="3">
         <tr>
            <td>Reviewer Signature  :</td>
            <td style="background:#faebd7;">
                <div id="canvas">
                    Canvas is not supported.
                </div>
                <script>
				signature.capture();
                </script>
            </td>
            <td>
            <button name="button" type="button" onclick="signature.clear()">Clear</button>
            </td>


        </tr>
    </table>
</div>



<div class="footer_buttom">
    <table cellspacing="3" cellpadding="3">

        <tr>
            <td>Send form to :</td>
            <td><input style="width: 200px;" type="text" name="rev_email1" id="rev_email1" placeholder="Enter Email Id"> </td>
        		<td style="border: none;" width="480"></td>
              <td style="border: none;"><button class="button" type="submit" id="submit">Submit</button></td>
        </tr>

    </table>
	</div>
</form>
<script>

        function save(){

			var emp_code1 = document.querySelector('[name=emp_code1]').value;
            var reviewer_name1 = document.querySelector('[name=reviewer_name1]').value;
			var reviewer_code1 = document.querySelector('[name=reviewer_code1]').value;

			manager_assessment1 = document.querySelector('[name=manager_assessment1]').value;
			manager_assessment1_comment1 = document.querySelector('[name=manager_assessment1_comment1]').value;
            total_score1 = document.querySelector('[name=total_score1]').value;
            achieved_score1 = document.querySelector('[name=achieved_score1]').value;

            manager_assessment2 = document.querySelector('[name=manager_assessment2]').value;
			manager_assessment2_comment2 = document.querySelector('[name=manager_assessment2_comment2]').value;
            total_score2 = document.querySelector('[name=total_score2]').value;
            achieved_score2 = document.querySelector('[name=achieved_score2]').value;

            manager_assessment3 = document.querySelector('[name=manager_assessment3]').value;
			manager_assessment3_comment3 = document.querySelector('[name=manager_assessment3_comment3]').value;
            total_score3 = document.querySelector('[name=total_score3]').value;
            achieved_score3 = document.querySelector('[name=achieved_score3]').value;

            manager_assessment4 = document.querySelector('[name=manager_assessment4]').value;
			manager_assessment4_comment4 = document.querySelector('[name=manager_assessment4_comment4]').value;
            total_score4 = document.querySelector('[name=total_score4]').value;
            achieved_score4 = document.querySelector('[name=achieved_score4]').value;

            manager_assessment5 = document.querySelector('[name=manager_assessment5]').value;
			manager_assessment5_comment5 = document.querySelector('[name=manager_assessment5_comment5]').value;
            total_score5 = document.querySelector('[name=total_score5]').value;
            achieved_score5 = document.querySelector('[name=achieved_score5]').value;

            manager_assessment6 = document.querySelector('[name=manager_assessment6]').value;
			manager_assessment6_comment6 = document.querySelector('[name=manager_assessment6_comment6]').value;
            total_score6 = document.querySelector('[name=total_score6]').value;
            achieved_score6 = document.querySelector('[name=achieved_score6]').value;

            rev_email1 = document.querySelector('[name=rev_email1]').value;
	        var canvas = document.getElementById("newSignature");
			var signature = canvas.toDataURL("image/png");
            document.getElementById('signature').value = signature;

            manager_final_comment = document.getElementById("manager_final_comment");
            manager_final_rating = document.getElementById("manager_final_rating");


			if ( (emp_code1 == '') ||
			  (reviewer_name1 == '') || (reviewer_code1 == '')||(manager_assessment1 == '')
			 ||(manager_assessment2 == '') ||(manager_assessment3 == '')
			 || (manager_assessment4 == '') || (manager_assessment5 == '')
			 || (manager_assessment6 == '') || (manager_assessment1_comment1 == '') || (manager_assessment2_comment2 == '')
			 || (manager_assessment3_comment3 == '') || (manager_assessment4_comment4 == '')
			 || (manager_assessment5_comment5 == '') || (manager_assessment6_comment6 == '')
			 || (total_score1 == '') || (total_score2 == '') || (total_score3 == '')
			 || (total_score4 == '') || (total_score5 == '') || (total_score6 == '') || (achieved_score1 == '') || (achieved_score2 == '')
			 || (achieved_score3 == '') || (achieved_score4 == '') || (achieved_score5 == '') || (achieved_score6 == '')
			 || (rev_email1 == '') ||(manager_final_comment == '') || (manager_final_rating == '')){
			    alert('All fields are mandatory!!');
			    return false;
			}

			return true;

        }
        function dosubmit(e){
             if( confirm('By Submitting this form you agree that the information shared by you is correct and up-to-date ? ') ){
                save();
             }

             return false;
        }
       document.getElementById('frm').addEventListener('submit', dosubmit);
    </script>
</div>
</body>
</html>